<extend name="Common:common" />
<block name="cssjs"></block>
<block name="body">
<body>
    <!--面包屑导航 开始-->
    <div class="crumb_warp">
        <a href="__MODULE__/Index/info">首页</a> &raquo; <a href="__URL__/index">角色管理</a> &raquo; 编辑
    </div>
    <!--面包屑导航 结束-->

    <div class="result_wrap">
        <form method="post" id="dataSet" onsubmit="return present();">
            <input type="hidden" name="role_id" value="{$info['role_id']}">
            <table class="add_tab">
                <tbody>
                <tr> 
                    <th  width="120">角色名称：</th>
                    <td>
                        <input type="text" name="role_name" value="{$info['role_name']}" required><span>必填</span>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td>
                        <input type="submit" value="提交" class="btn-blue">
                        <input type="button" class="back btn-blue" onclick="history.go(-1)" value="返回">
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</body>
<script type="text/javascript">
    //数据提交
    function present() {
        dialog.presentForm("__URL__/editData", "__URL__/index");
        return false;
    }
</script>
</block>