<extend name="Common:common" />
<block name="cssjs"></block>
<block name="body">
<body>
    <!--面包屑导航 开始-->
    <div class="crumb_warp">
        <a href="__MODULE__/Index/info">首页</a> &raquo; <a href="__URL__/index">权限管理</a> &raquo; 添加&nbsp;&nbsp;<a href="__URL__/add"><i class="fa fa-refresh"></i></a>
    </div>
    <!--面包屑导航 结束-->

    <div class="result_wrap">
        <form method="post" id="dataSet" onsubmit="return present();">
            <table class="add_tab">
                <tbody>
                <tr>
                    <th width="120">权限等级：</th>
                    <td>
                        <select name="auth_pid" id="auth_pid">
                            <option value="0" selected="selected">一级权限</option>
                            <foreach name="listA" item="v">
                                <option value="{$v['auth_id']}">|----{$v['auth_name']}</option>
                                <foreach name="listB" item="vv">
                                    <if condition="$vv['auth_pid'] eq $v['auth_id']">
                                        <option value="{$vv['auth_id']}">|----|----{$vv['auth_name']}</option>
                                    </if>
                                </foreach>
                            </foreach>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>权限名称：</th>
                    <td>
                        <input type="text" name="auth_name" id="auth_name" required><span>必填</span>
                    </td>
                </tr>
                <tr>
                    <th>控制器：</th>
                    <td>
                        <input type="text" name="auth_c">
                    </td>
                </tr>
                <tr>
                    <th>操作方法：</th>
                    <td>
                        <input type="text" name="auth_a">
                    </td>
                </tr>
                <tr>
                    <th>左侧菜单：</th>
                    <td>
                        <input type="radio" name="auth_status" id="auth_status1" value="1" checked><label for="auth_status1">显示</label>
                        <input type="radio" name="auth_status" id="auth_status0" value="0"><label for="auth_status0">隐藏</label>
                        <span>可以通过设置 <strong>显示/隐藏</strong> 来控制左侧菜单栏目是否 <strong>显示/隐藏</strong> 指定权限</span>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td>
                        <input type="submit" value="提交" class="btn-blue">
                        <input type="button" class="back btn-blue" onclick="history.go(-1)" value="返回">
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
</body>
<script type="text/javascript">
    //数据提交
    function present() {
        dialog.presentForm("__URL__/addData", "__URL__/index");
        return false;
    }
</script>
</block>