<extend name="HomeCommon:common" />
<block name="title"><title>联系我们 {$config['config_web_name']}</title></block>
<block name="css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/aboutus.css">
</block>
<block name="js"></block>
<block name="body">
	<!-- 联系我们 start -->
	<div class="bigimg w">
		<div class="bigimgbox">
			<img src="__PUBLIC__/images/bigimg2.jpg">
		</div>
		<h2>联系我们</h2>
	</div>

	<div class="contact w">
		<div class="contactbox">
			<div class="contactleft fl">
				<ul>
					<li><a href="us.html">公司简介</a></li>
					<li><a href="contact.html" class="leftactive">联系我们</a></li>
					<li><a href="job.html">人才招聘</a></li>
					<li><a href="msg.html">在线留言</a></li>
				</ul>
			</div>
			<div class="contactright fr">
				<div class="contactrightbox">
					<div class="contacttitle">
						<h2>联系我们</h2>
						<div class="map mb15">
							<img src="__PUBLIC__/images/map.png">
						</div>
						<p>如果想进一步了解我们的产品和服务，请联系我们。</p>
						<p>北京live科技有限公司北京总部：</p>
						<p>地址：北京市海淀区xxxxxxxxx</p>
						<p>邮编：100022</p>
						<p>电话：86-10-234124321</p>
						<p>传真：86-10-542354325354</p>
						<p>Email：xxxxxx@xxxxxx.net</p>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<!-- 联系我们 end -->

	<div class="clear"></div>
</block>