<extend name="HomeCommon:common" />
<block name="title"><title>公司简介 {$config['config_web_name']}</title></block>
<block name="css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/aboutus.css">
</block>
<block name="js"></block>
<block name="body">
	<!-- 公司简介 start -->
	<div class="bigimg w">
		<div class="bigimgbox">
			<img src="__PUBLIC__/images/bigimg2.jpg">
		</div>
		<h2>公司简介</h2>
	</div>

	<div class="contact w">
		<div class="contactbox">
			<div class="contactleft fl">
				<ul>
					<li><a href="us.html" class="leftactive">公司简介</a></li>
					<li><a href="contact.html">联系我们</a></li>
					<li><a href="job.html">人才招聘</a></li>
					<li><a href="msg.html">在线留言</a></li>
				</ul>
			</div>
			<div class="contactright fr">
				<div class="contactrightbox">
					<div class="contacttitle">
						<h2>公司简介</h2>
						<h4>关于live</h4>
						<p>北京live科技有限公司（简称live），总部设在北京，是一家专业的企业级IT服务提供商</p>
						<h4>公司使命</h4>
						<p>live是Oracle全球指定服务供应商，Level 1的Partner(Supplier ID: 508586)。同时，公司目前也是Oracle(中国)官方售后服务实施方面的紧密合作伙伴，在对中国客户的数据库、中间件现场专业服务实施方面正在与Oracle展开密切地合作，从而为全国各地的数据库、中间件客户提供服务实施方面的资源保障。</p>
						<h4>我们的信仰</h4>
						<p>live公司成立近八年来，我们已经为国家电网（河北省电力公司、河南省电力公司等），中国电力科学研究院，首都机场，Quest（中国）等大型客户和厂商提供过中间件和数据库现场服务和培训等多种形式的专业服务，客户对我们专家资源的质量和服务效果非常满意。</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 公司简介 end -->

	<div class="clear"></div>
</block>