<extend name="Common:common" />
<block name="cssjs">
    <link rel="stylesheet" href="__PUBLIC__/js/uploadify/uploadify.css">
    <script type="text/javascript" src="__PUBLIC__/js/uploadify/jquery.uploadify.min.js"></script>
</block>
<block name="body">
<body>
    <!--面包屑导航 开始-->
    <div class="crumb_warp">
        <a href="__MODULE__/Index/info">首页</a> &raquo; <a href="__URL__/index">文章管理</a> &raquo; 添加&nbsp;&nbsp;<a href="__URL__/add"><i class="fa fa-refresh"></i></a>
    </div>
    <!--面包屑导航 结束-->
    
    <div class="result_wrap">
        <form action="#" method="post" id="dataSet" onsubmit="return present();">
            <table class="add_tab">
                <tbody>
                    <tr>
                        <th width="120">标题：</th>
                        <td>
                            <input type="text" class="lg" name="art_title" required><span>必填</span>
                        </td>
                    </tr>
                    <tr>
                        <th>简介：</th>
                        <td>
                            <input type="text" class="lg" name="art_desc" required><span>必填</span>
                        </td>
                    </tr>
                    <tr>
                        <th>编辑：</th>
                        <td>
                            <input type="text" name="art_editor" required><span>必填</span>
                        </td>
                    </tr>
                    <tr>
                        <th>缩略图：</th>
                        <td>
                            <input type="file" multiple="true" id="file_upload">
                            <img style="display:none;" id="upload_img" src="" width="150">
                        </td>
                        
                        <input id="upload_img_thumb" name="art_thumb" type="hidden" value="" multiple="true" />
                    </tr>
                    <style>
                        .uploadify{display:inline-block;}
                        .uploadify-button{border:none; border-radius:5px; margin-top:8px;}
                        table.add_tab tr td span.uploadify-button-text{color: #FFF; margin:0;}
                    </style>
                    <tr>
                        <th>内容：</th>
                        <td>
                            <script type="text/javascript" charset="utf-8" src="__PUBLIC__/js/ueditor/ueditor.config.js"></script>
                            <script type="text/javascript" charset="utf-8" src="__PUBLIC__/js/ueditor/ueditor.all.min.js"></script>
                            <script id="editor" name="art_content" type="text/plain" style="width:860px;height:300px;"></script>
                            <span>必填</span>
                            <script type="text/javascript">
                                var ue = UE.getEditor('editor');
                            </script>
                        </td>
                        <style>
                            .edui-default{line-height: 28px;}
                            div.edui-combox-body,div.edui-button-body,div.edui-splitbutton-body
                            {overflow: hidden; height:20px;}
                            div.edui-box{overflow: hidden; height:22px;}
                        </style>
                    </tr>
                    <tr>
                        <th>排序：</th>
                        <td>
                            <input type="text" name="art_sort" value="10" class="sm"><span>数值越小, 排序越靠前, 默认值为10</span>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <input type="submit" value="提交" class="btn-blue">
                            <input type="button" class="back btn-blue" onclick="history.go(-1)" value="返回">
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>

</body>
<script type="text/javascript">
    // uploadify异步上传图片
    $(function() {
        $("#file_upload").uploadify({
            'swf'               : "__PUBLIC__/js/uploadify/uploadify.swf",
            'uploader'          : "__URL__/uploadImage",
            'buttonText'        : '上传',
            'fileTypeDesc'      : 'Image Files',
            'fileTypeExts'      : '*.gif; *.jpg; *.png; *.jpeg',
            'fileObjName'       : 'file',
            'width'             : 60,
            'onUploadSuccess'   : function(file,data,response) {
            if(response) {
                var data = JSON.parse(data); //由JSON字符串转换为JSON对象
                if(data.code == '201') {
                    dialog.error(data.msg);
                } else {
                    $('#' + file.id).find('.data').html(' 上传完毕');
                    $("#upload_img").attr("src","__ROOT__/"+data.file);
                    $("#upload_img_thumb").attr('value',data.file);
                    $("#upload_img").show();
                }
            }else{
                dialog.error('上传失败!');
            }
        },
        });
    });
    
    //提交数据
    function present() {
        dialog.presentForm("__URL__/addData", "__URL__/index");
        return false;
    }
    
    

</script>

</block>